{% extends "layout.html" %}
{% block content %}
  <h2>Detected Labels</h2>
  {% if labels and labels|length > 0 %}
    <ul>
      {% for label in labels %}
        <li>{{ label }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No labels detected.</p>
  {% endif %}
  <h2>Generated Poem</h2>
  <pre>{{ poem }}</pre>

  <h2>Listen to the Poem</h2>
  <audio controls>
      <source src="{{ url_for('static', filename='audio/poem.mp3') }}" type="audio/mp3">
      Your browser does not support the audio element.
  </audio>

  <a href="{{ url_for('upload_image') }}">Upload another image</a>
  <h3><a href="{{ url_for('index') }}">Back to Homepage</a></h3>
{% endblock %}